---
layout: default
---
<header style="background-image: url({{ page.featured_image }});">
  <div class="container post-container">
    <a href="/" class="home_button"></a>
    <div class="inner-container">
      <h1>{{ page.title }}</h1>
      <ul class="meta">
        <li>
          <span>
            Published
          </span>
          {{ page.date | date_to_string }}
        </li>
        <li>
          <span>
            Category
          </span>
          {{ page.categories }}
        </li>
      </ul>
    </div>
    <ul class="pagination">
      {% if page.previous.url %}
        <li class="previous">
          <a href="{{ page.previous.url }}">
            Previous
          </a>
        </li>
      {% endif %}
      {% if page.next.url %}
      <li class="next">
        <a href="{{ page.next.url }}">
          Next
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</header>

<article>
  <div class="container">
    {{ content }}

    <script id="dsq-count-scr" src="//reasonabout.disqus.com/count.js" async></script>

    {% if page.comments %}
    <div id="disqus_thread"></div>
      <script type="text/javascript">
      var disqus_shortname = 'reasonabout';

      /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endif %}
  </div>
</article>
